.rangeHeading {
    font-size: 1.3rem;
    padding: 1rem 0;
    font-weight: 450;
}

.toggleSelectRange {
    background-color: #fefdf8;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: .7rem;
}

.rangeButtonCiontainer {
    margin: 1rem 2rem 0;
}

.rangeButton {
    background-color: #fefdf8;
    border-radius: 3px;
    font-size: 1.5rem;
    padding: .7rem;
    width: 25%;
}
