.stanceContainer {
    padding: 1rem 3rem 0;
}

.bracedToggle {
    display: flex;
    justify-content: center;
}

.toggleStance,
.toggleBraced {
    background-color: #fefdf8;
    border-radius: 3px;
    font-size: 1.5rem;
    width: 10rem;
    height: 3rem;
}

.toggleBraced:after {
    content: " \2716";
    color: #b6b9bb;
}

.toggleBraced.active:after {
    content: " \2714";
    color: #718d4d;
}

.stanceCircle {
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid #b6b9bb;
    position: relative;
}

.toggleStance.active > .stanceCircle > .inner {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #718d4d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}