.stanceContainer {
    padding: 1rem 3rem 0;
}

.bracedToggle {
    display: flex;
    justify-content: center;
}

.toggleStance,
.toggleBraced {
    background-color: #fefdf8;
    border-radius: 3px;
    font-size: 1.5rem;
    width: 10rem;
    height: 3rem;
}

.toggleBraced:after {
    content: " \2716";
    color: #b6b9bb;
}

.toggleBraced.active:after {
    content: " \2714";
    color: #bed264;
}

.stanceCircle {
    height: 1rem;
    width: 1rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
    box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.8);
}

.toggleStance.active > .stanceCircle > .inner {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(190,210,100);
    background: -moz-radial-gradient(circle, rgba(190,210,100,1) 0%, rgba(85,103,63,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(190,210,100,1) 0%, rgba(85,103,63,1) 100%);
    background: radial-gradient(circle, rgba(190,210,100,1) 0%, rgba(85,103,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bed264",endColorstr="#55673f",GradientType=1);
}