.shooterContainer {
    display: flex;
    justify-content: space-between;
    width: 21rem;
    margin: 0 auto;
}
.aimTime {
    display: flex;
    flex-direction: column;
    border: 1.2px solid #252b2b;
    width: 5rem;
}

.aimTimeRow:hover {
    color: black;
    background-color: #fff;
}

.aimTimeRow.selected {
    background-color: #fefdf8;
}

.aimTimeRow > span:nth-of-type(odd){
    float: left;
    padding-left: .5rem;
}

.aimTimeRow > span:nth-of-type(even){
    float: right;
    padding-right: .5rem;
}