.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #9a835f;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: calc(10px + 2vmin);
  color: #252b2b;
}

.App-body {
  background-color: #eee9e3;
  min-height: 90vh;
  font-size: calc(10px + 1vmin);
  color: #252b2b;
}

.navBtn {
  color: #eee9e3;
  font-size: 3.5rem;
}

.prevPage {
  transform: rotate(180deg);
}