.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #9a835f; */
  background-color: antiquewhite;
  min-height: 10vh;
  padding: 0 1rem;
  /* color: #eee9e3; */
  color: beige;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
}

.App-body {
  background-color: #eee9e3;
  min-height: 90vh;
  font-size: calc(10px + 1vmin);
  color: #252b2b;
}

.appHeading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nextPage {
  position: absolute;
  top: 50%;
  right: 0.1rem;
  transform: translateY(-50%);
}

.prevPage {
  position: absolute;
  top: 50%;
  left: 0.1rem;
  transform: translateY(-50%);
}

.navBtn {
  color: #eee9e3;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
}